In [3]:
import pandas as pd

pima = pd.read_csv('https://raw.githubusercontent.com/zacharski/ml-class/master/data/pima-indians-diabetes.csv', 
                   header=None, names=['pregnant', 'glucose', 'bp', 'skinfold', 'insulin', 'bmi', 'pedigree', 'age', 'diabetes'])
pima

     pregnant  glucose  bp  skinfold  insulin   bmi  pedigree  age  diabetes
0           6      148  72        35        0  33.6     0.627   50         1
1           1       85  66        29        0  26.6     0.351   31         0
2           8      183  64         0        0  23.3     0.672   32         1
3           1       89  66        23       94  28.1     0.167   21         0
4           0      137  40        35      168  43.1     2.288   33         1
..        ...      ...  ..       ...      ...   ...       ...  ...       ...
763        10      101  76        48      180  32.9     0.171   63         0
764         2      122  70        27        0  36.8     0.340   27         0
765         5      121  72        23      112  26.2     0.245   30         0
766         1      126  60         0        0  30.1     0.349   47         1
767         1       93  70        31        0  30.4     0.315   23         0

[768 rows x 9 columns]

split data into training and testing

In [5]:
from sklearn.model_selection import train_test_split
pima_train, pima_test = train_test_split(pima, test_size = 0.2)
pima_train

     pregnant  glucose  bp  skinfold  insulin   bmi  pedigree  age  diabetes
120         0      162  76        56      100  53.2     0.759   25         1
143        10      108  66         0        0  32.4     0.272   42         1
250         9      106  52         0        0  31.2     0.380   42         0
745        12      100  84        33      105  30.0     0.488   46         0
698         4      127  88        11      155  34.5     0.598   28         0
..        ...      ...  ..       ...      ...   ...       ...  ...       ...
347         3      116   0         0        0  23.5     0.187   23         0
431         3       89  74        16       85  30.4     0.551   38         0
490         2       83  65        28       66  36.8     0.629   24         0
537         0       57  60         0        0  21.7     0.735   67         0
285         7      136  74        26      135  26.0     0.647   51         0

[614 rows x 9 columns]

In [7]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(criterion='entropy')

fColumns = list(pima_train.columns)
fColumns.remove('diabetes')
pima_train_features = pima_train[fColumns]
pima_train_labels = pima_train[['diabetes']]
pima_train_labels

     diabetes
120         1
143         1
250         0
745         0
698         0
..        ...
347         0
431         0
490         0
537         0
285         0

[614 rows x 1 columns]

In [10]:
scores = cross_val_score(clf, pima_train_features, pima_train_labels, cv=10)

In [9]:
from sklearn.model_selection import cross_val_score

In [56]:
print(scores)
print("The average accuracy is %5.3f" % (scores.mean()))

[0.70967742 0.74193548 0.69354839 0.72580645 0.78688525 0.73770492
 0.75409836 0.68852459 0.59016393 0.68852459]
The average accuracy is 0.712

In [94]:
clf5 = tree.DecisionTreeClassifier(criterion='entropy', max_depth=4)
scores = cross_val_score(clf5, pima_train_features, pima_train_labels, cv=10)
print(scores)
print("The average accuracy is %5.3f" % (scores.mean()))

[0.74193548 0.74193548 0.74193548 0.67741935 0.72131148 0.73770492
 0.75409836 0.73770492 0.75409836 0.80327869]
The average accuracy is 0.741

clf5

In [28]:
clf5

DecisionTreeClassifier(criterion='entropy', min_samples_split=10)

In [95]:
import pandas as pd
bike = pd.read_csv('https://raw.githubusercontent.com/zacharski/ml-class/master/data/bike.csv')
bike = bike.set_index('Day')
bike

      Outlook Temperature Humidity    Wind Bike
Day
1       Sunny         Hot     High    Weak   No
2       Sunny         Hot     High  Strong   No
3    Overcast         Hot     High    Weak  Yes
4        Rain        Mild     High    Weak  Yes
5        Rain        Cool   Normal    Weak  Yes
6        Rain        Cool   Normal  Strong   No
7    Overcast        Cool   Normal  Strong  Yes
8       Sunny        Mild     High    Weak   No
9       Sunny        Cool   Normal    Weak  Yes
10       Rain        Mild   Normal    Weak  Yes
11      Sunny        Mild   Normal  Strong  Yes
12   Overcast        Mild     High  Strong  Yes
13   Overcast         Hot   Normal    Weak  Yes
14       Rain        Mild     High  Strong   No

In [97]:
from sklearn.preprocessing import OrdinalEncoder

In [99]:
from sklearn.preprocessing import OneHotEncoder

In [100]:

cat_encoder = OneHotEncoder()
bike_cat_1hot = cat_encoder.fit_transform(bike)
bike_cat_1hot

<14x12 sparse matrix of type '<class 'numpy.float64'>'
	with 70 stored elements in Compressed Sparse Row format>

In [101]:
print(bike_cat_1hot)

  (0, 2)	1.0
  (0, 4)	1.0
  (0, 6)	1.0
  (0, 9)	1.0
  (0, 10)	1.0
  (1, 2)	1.0
  (1, 4)	1.0
  (1, 6)	1.0
  (1, 8)	1.0
  (1, 10)	1.0
  (2, 0)	1.0
  (2, 4)	1.0
  (2, 6)	1.0
  (2, 9)	1.0
  (2, 11)	1.0
  (3, 1)	1.0
  (3, 5)	1.0
  (3, 6)	1.0
  (3, 9)	1.0
  (3, 11)	1.0
  (4, 1)	1.0
  (4, 3)	1.0
  (4, 7)	1.0
  (4, 9)	1.0
  (4, 11)	1.0
  :	:
  (9, 1)	1.0
  (9, 5)	1.0
  (9, 7)	1.0
  (9, 9)	1.0
  (9, 11)	1.0
  (10, 2)	1.0
  (10, 5)	1.0
  (10, 7)	1.0
  (10, 8)	1.0
  (10, 11)	1.0
  (11, 0)	1.0
  (11, 5)	1.0
  (11, 6)	1.0
  (11, 8)	1.0
  (11, 11)	1.0
  (12, 0)	1.0
  (12, 4)	1.0
  (12, 7)	1.0
  (12, 9)	1.0
  (12, 11)	1.0
  (13, 1)	1.0
  (13, 5)	1.0
  (13, 6)	1.0
  (13, 8)	1.0
  (13, 10)	1.0