# Working with Data

#### Part of the [Inquiryum Machine Learning Fundamentals Course](http://inquiryum.com/machine-learning/)

In the examples we have been working with so far, all the columns had numerical data. For example, the violet classification data looked like:
    
    
Sepal Length|Sepal Width|Petal Length|Petal Width|Class
:--: | :--: |:--: |:--: |:--: 
5.3|3.7|1.5|0.2|Iris-setosa
5.0|3.3|1.4|0.2|Iris-setosa
5.0|2.0|3.5|1.0|Iris-versicolor
5.9|3.0|4.2|1.5|Iris-versicolor
6.3|3.4|5.6|2.4|Iris-virginica
6.4|3.1|5.5|1.8|Iris-virginica

Notice that all the feature columns had numeric data. In addition to **numeric** data datasets often contain **categorical data**. A column that contains **categorical data** means that the values are from a limited set of values. For example:



Movie | Tomato Rating | Genre | Rating | Length 
:---: | :---: | :---: | :---: | :---:  
First Man | 88 | Drama | PG-13 | 138
Can You Ever Forgive Me | 98 | Drama | R | 107
The Girl in the Spider's Web | 41 | Drama | R | -99
Free Solo | 99 | Documentary | PG-13 | 97
The Grinch | 57 | Animation | PG | 86
Overlord | 80 | Action | R | 109
Christopher Robin | 71 | Comedy | PG | -99
Ant Man and the Wasp  |  88 | Science Fiction | PG-13 | 118

Here, the genre and rating columns contains categorical data meaning that the values of those columns are not numeric and they are from a limited set of possibilities. Modern machine learning algorithms are designed to handle numeric data and, as a preprocessing step, we will need to convert the categorical columns to numeric. One solution would be simply to convert each category to an integer. So drama is 1, documentary 2 etc:

index | genre
 :--: | :--:
 1 | Drama
 2 | Documentary
 3 | Animation
 4| Action
 5 | Comedy
 6 | Science Fiction

Using this scheme we can convert the original data to:

Movie | Tomato Rating | Genre | Rating | Length 
:---: | :---: | :---: | :---: | :---:  
First Man | 88 | 1 | 1 | 138
Can You Ever Forgive Me | 98 | 1 | 2 | 107
The Girl in the Spider's Web | 41 | 1 | 2 | -99
Free Solo | 99 | 2 | 1 | 97
The Grinch | 57 | 3 | 3 | 86
Overlord | 80 | 4 | 2 | 109
Christopher Robin | 71 | 5 | 3 | -99
Ant Man and the Wasp  |  88 | 6 | 1 | 118

Numeric columns like `Tomato Rating` and `Length` are fine as is but categorical columns (`Genre` and `Rating`) are problematic for machine learning. Simply converting the category values to integers:

But this solution is problematic. Integers infer  both an ordering and a distance where 2 is closer to 1 than 4. Since in the genre column 1 is drama, 2 is documentary, and 4 is action, our scheme implies that dramas are closer to documentaries than they are to action films, which is clearly not the case. This problem also exists in the rating column. **So clearly this method is not the way to go**!

### One Hot Encoding
The solution is to do what is called one hot encoding. Our original table looked like:


Movie | Tomato Rating | Genre | Rating | Length 
:---: | :---: | :---: | :---: | :---:  
First Man | 88 | Drama | PG-13 | 138
Can You Ever Forgive Me | 98 | Drama | R | 107
The Girl in the Spider's Web | 41 | Drama | R | -99
Free Solo | 99 | Documentary | PG-13 | 97
The Grinch | 57 | Animation | PG | 86
Overlord | 80 | Action | R | 109
Christopher Robin | 71 | Comedy | PG | -99
Ant Man and the Wasp  |  88 | Science Fiction | PG-13 | 118

So, for example, we had the categorical column rating with the possible values drama, documentary, animation, action, comedy and science fiction. Instead of one column with those values, we are going to convert it to a form where each value is its own column. If that instance is of that value then we would put a **one** in that column, otherwise we would put a zero. So we would convert

Movie | Genre 
:---: | :---: 
First Man | Drama 
Can You Ever Forgive Me | Drama
The Girl in the Spider's Web |  Drama 
Free Solo |  Documentary 
The Grinch |  Animation 
Overlord |  Action
Christopher Robin |  Comedy
Ant Man and the Wasp  |   Science Fiction

to

Movie | Drama | Documentary | Animation | Action | Comedy | Science Fiction
:--: | :--: | :--: | :--: | :--: | :--: | :--: 
First Man | 1 | 0 | 0| 0| 0 | 0 
Can You Ever Forgive Me | 1 | 0 | 0| 0| 0 | 0 
The Girl in the Spider's Web | 1 | 0 | 0| 0| 0 | 0 
Free Solo | 0 | 1 | 0| 0| 0 | 0 
The Grinch | 0 | 0 | 1| 0| 0 | 0 
Overlord | 0 | 0 | 0| 1| 0 | 0 
Christopher Robin | 0 | 0 | 0| 0| 1 | 0 
Ant Man and the Wasp | 0 | 0 | 0| 0| 0 | 1 


This is the prefered way of converting categorical data (when we work with text we will see other options). An added benefit to this approach is now an instance can be of multiple categories. For example, we may want to categorize *Ant Man and the Wasp* as both a comedy and science fiction, and that is easy to do in this scheme:

Movie | Drama | Documentary | Animation | Action | Comedy | Science Fiction
:--: | :--: | :--: | :--: | :--: | :--: | :--: 
First Man | 1 | 0 | 0| 0| 0 | 0 
Can You Ever Forgive Me | 1 | 0 | 0| 0| 0 | 0 
The Girl in the Spider's Web | 1 | 0 | 0| 0| 0 | 0 
Free Solo | 0 | 1 | 0| 0| 0 | 0 
The Grinch | 0 | 0 | 1| 0| 0 | 0 
Overlord | 0 | 0 | 0| 1| 0 | 0 
Christopher Robin | 0 | 0 | 0| 0| 1 | 0 
Ant Man and the Wasp | 0 | 0 | 0| 0| 1 | 1 

If we one-hot encoded all the categorical columns in our original dataset it would look like:

Movie            | Tomato Rating | Action | Animation | Comedy | Documentary | Drama | Science Fiction | PG | PG-13 | R | Length 
:---: | :---: | :---: | :---: | :---: |  :---: |  :---: |  :---: |  :---: |  :---: |  :---: |  :---: 
First Man        | 88            |  0     |    0      |   0    | 0           | 1     | 0    | 0 | 1  |    0| 138
Can You Ever Forgive Me | 98 |      0     |    0      |   0    | 0           | 1     | 0    | 0 | 0  |   1|   107
The Girl in the Spider's Web | 41 |  0     |    0      |   0    | 0           | 1     | 0    | 0 | 1  |    0|    -99
Free Solo | 99 |  0     |    0      |   0    | 1           | 0     | 0    | 0 | 1  |    0|   97
The Grinch | 57 |  0     |    1      |   0    | 0           | 0     | 0    | 1 | 0  |    0| 86
Overlord | 80 |  1     |    0      |   0    | 0           | 0     | 0    | 0 | 1  |    0|  109
Christopher Robin | 71  |  0     |    0      |   1   | 0           | 0     | 0    | 1 | 0  |    0| -99
Ant Man and the Wasp   |  0    |    0      |   0    | 0       | 0    | 0     | 1    | 0 | 1  |    0| 118



### Coding
Let's invetigate this a bit with a coding example.

In [13]:
import pandas as pd
bike = pd.read_csv('https://raw.githubusercontent.com/zacharski/ml-class/master/data/bike.csv')
bike = bike.set_index('Day')
bike

      Outlook Temperature Humidity    Wind Bike
Day
1       Sunny         Hot     High    Weak   No
2       Sunny         Hot     High  Strong   No
3    Overcast         Hot     High    Weak  Yes
4        Rain        Mild     High    Weak  Yes
5        Rain        Cool   Normal    Weak  Yes
6        Rain        Cool   Normal  Strong   No
7    Overcast        Cool   Normal  Strong  Yes
8       Sunny        Mild     High    Weak   No
9       Sunny        Cool   Normal    Weak  Yes
10       Rain        Mild   Normal    Weak  Yes
11      Sunny        Mild   Normal  Strong  Yes
12   Overcast        Mild     High  Strong  Yes
13   Overcast         Hot   Normal    Weak  Yes
14       Rain        Mild     High  Strong   No

Here we are trying to predict whether someone will mountain bike or not based on the outlook, temperature, humidity, and wind. 
Let's forge ahead and see if we can build a decision tree classifier:

In [6]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(criterion='entropy')
clf.fit(bike[['Outlook', 'Temperature', 'Humidity', 'Wind']], bike['Bike'])

ValueError: could not convert string to float: 'Sunny'

And we see that doesn't work. We get the error:

```
ValueError: could not convert string to float: 'Sunny'
```

We need to one-hot encode these categorical columns.  Here is how to convert the Outlook column. The steps are

1. Create a new Dataframe of the one-hot encoded values for the Outlook column.
2. Drop the Outlook column from the original Dataframe.
3. Join the new one-hot encoded Dataframe to the original

#### 1 Create the new Dataframe

In [14]:
one_hot = pd.get_dummies(bike['Outlook'])
one_hot

     Overcast  Rain  Sunny
Day
1           0     0      1
2           0     0      1
3           1     0      0
4           0     1      0
5           0     1      0
6           0     1      0
7           1     0      0
8           0     0      1
9           0     0      1
10          0     1      0
11          0     0      1
12          1     0      0
13          1     0      0
14          0     1      0

Nice.

#### 2. Drop the outlook column from the original Dataframe:

In [15]:
bike = bike.drop('Outlook', axis=1)

#### 3. join the one-hot encoded Dataframe to the original

In [16]:
bike = bike.join(one_hot)
bike

    Temperature Humidity    Wind Bike  Overcast  Rain  Sunny
Day
1           Hot     High    Weak   No         0     0      1
2           Hot     High  Strong   No         0     0      1
3           Hot     High    Weak  Yes         1     0      0
4          Mild     High    Weak  Yes         0     1      0
5          Cool   Normal    Weak  Yes         0     1      0
6          Cool   Normal  Strong   No         0     1      0
7          Cool   Normal  Strong  Yes         1     0      0
8          Mild     High    Weak   No         0     0      1
9          Cool   Normal    Weak  Yes         0     0      1
10         Mild   Normal    Weak  Yes         0     1      0
11         Mild   Normal  Strong  Yes         0     0      1
12         Mild     High  Strong  Yes         1     0      0
13          Hot   Normal    Weak  Yes         1     0      0
14         Mild     High  Strong   No         0     1      0

It simple, but a little tedious. Let's finish up encoding the other columns:

In [17]:
one_hot = pd.get_dummies(bike['Temperature'])
bike = bike.drop('Temperature', axis=1)
bike = bike.join(one_hot)
one_hot = pd.get_dummies(bike['Humidity'])
bike = bike.drop('Humidity', axis=1)
bike = bike.join(one_hot)
one_hot = pd.get_dummies(bike['Wind'])
bike = bike.drop('Wind', axis=1)
bike = bike.join(one_hot)

bike

    Bike  Overcast  Rain  Sunny  Cool  Hot  Mild  High  Normal  Strong  Weak
Day
1     No         0     0      1     0    1     0     1       0       0     1
2     No         0     0      1     0    1     0     1       0       1     0
3    Yes         1     0      0     0    1     0     1       0       0     1
4    Yes         0     1      0     0    0     1     1       0       0     1
5    Yes         0     1      0     1    0     0     0       1       0     1
6     No         0     1      0     1    0     0     0       1       1     0
7    Yes         1     0      0     1    0     0     0       1       1     0
8     No         0     0      1     0    0     1     1       0       0     1
9    Yes         0     0      1     1    0     0     0       1       0     1
10   Yes         0     1      0     0    0     1     0       1       0     1
11   Yes         0     0      1     0    0     1     0       1       1     0
12   Yes         1     0      0     0    0     1     1       0       1     0
13   Yes         1     0      0     0    1     0     0       1       0     1
14    No         0     1      0     0    0     1     1       0       1     0

Great! Now we can train our classifier. I will just cut and paste the previous `clf.fit` and ...

In [18]:
clf.fit(bike[['Outlook', 'Temperature', 'Humidity', 'Wind']], bike['Bike'])

KeyError: "None of [Index(['Outlook', 'Temperature', 'Humidity', 'Wind'], dtype='object')] are in the [columns]"

Well that didn't work. The clf.fit instruction was

```
clf.fit(bike[['Outlook', 'Temperature', 'Humidity', 'Wind']], bike['Bike'])
```
So we instruct it to use the Outlook, Temperature, Humidity, and Wind columns, but we just deleted them. Instead we have the following columns:

In [22]:
list(bike.columns)

['Bike',
 'Overcast',
 'Rain',
 'Sunny',
 'Cool',
 'Hot',
 'Mild',
 'High',
 'Normal',
 'Strong',
 'Weak']

Using that list let's divide up our data into the label (what we are trying to predict) and the features (what we are using to make the prediction).

In [30]:
fColumns = list(bike.columns)
fColumns.remove('Bike')
bike_features = bike[fColumns]
bike_features

     Overcast  Rain  Sunny  Cool  Hot  Mild  High  Normal  Strong  Weak
Day
1           0     0      1     0    1     0     1       0       0     1
2           0     0      1     0    1     0     1       0       1     0
3           1     0      0     0    1     0     1       0       0     1
4           0     1      0     0    0     1     1       0       0     1
5           0     1      0     1    0     0     0       1       0     1
6           0     1      0     1    0     0     0       1       1     0
7           1     0      0     1    0     0     0       1       1     0
8           0     0      1     0    0     1     1       0       0     1
9           0     0      1     1    0     0     0       1       0     1
10          0     1      0     0    0     1     0       1       0     1
11          0     0      1     0    0     1     0       1       1     0
12          1     0      0     0    0     1     1       0       1     0
13          1     0      0     0    1     0     0       1       0     1
14          0     1      0     0    0     1     1       0       1     0

and now the label:

In [33]:
bike_labels = bike[['Bike']]
bike_labels

    Bike
Day
1     No
2     No
3    Yes
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
10   Yes
11   Yes
12   Yes
13   Yes
14    No

Now, finally, we can train our decision tree classifier.

In [34]:
clf.fit(bike_features, bike_labels)

DecisionTreeClassifier(criterion='entropy')

As you can see, preparing the data, sometimes takes a long time coding.

## Hyperparameters.

When we train a machine learning model (using `fit` in this case, the model learns a set of **parameters**. For decision trees, one parameter is the depth of the tree. When we trained our first decision tree, we didn't specify a depth. The model figured it out on its own. The important point is that parameters are what the model learns on its own and not something we adjust.

In contrast **hyperparameters** are things we adjust and not determined by the algorithm. For decision trees there are a number of hyperparameters we can adjust. We already saw two: `max_depth` controls the size of the tree and `criterion`. Adjusting one hyperparameter may improve the accuracy of your classifier or it may worsen it. 

We have already learned that we shouldn't test our model using the same data that we trained on. Why not? Because the model is tuned to the training data. In a kNN classifier, it may memorize every instance in our training data. If we test using that same data, the accuracy will tend to be higher than if we tested using data the classifier has never seen before. In some previous labs, we reserved 20% of the original data to test on and used 80% for training. 

Now let's imagine a process where we will adjust hyperparameters to improve the accuracy of our model. One approach might be:

1. Use 80% of the data to train on.
2. Test the classifier using the 20% test set and get the accuracy.
3. Adjust a hyperparameter and create a new classifier
4. Use the same 80% of the data to train the new classifier
5. Test the classifier using the 20% test set and get the accuracy.
6. Keep repeating this to find the value of the hyperparameter that performs the best.
7. The accuracy of your classifier will be the highest one obtained from evaluating the 20% test set.

The problem with this approach is that since we are tuning the hyperparameters based on the accuracy on the test set, some of the information about the test set is leaking into our classifier. Again, we may get an arbitrary higher accuracy that is not reflective of the algorithm's performance on unseen data.

**So what can we do?**

The solution is to divide the original dataset into three:

1. the training set which we use to train our model.
2. the validation set which we use to test our model so we can adjust the hyperparameters
3. the test set which we use to perform an evaluation of the final model fit on the training set. We make our final adjustment of the hyperparameters before we evaluate the model using the test set.

There are many ways to divide up the original data into these three sets. For example, maybe 20% is reserved for the test set, 20% for validation and 60% for training.  However, there is a slightly better way.

### Cross Validation
For cross validation we are going to divide the dataset into roughly equal sized buckets. Typically we would divide the data into 10 parts and this is called 10-fold cross validation. To reiterate, with this method we have one data set which we divide randomly into 10 parts. We use 9 of
those parts for training and reserve one tenth for testing. We repeat this procedure 10 times
each time reserving a different tenth for testing.

Lets look at an example. Suppose we want to build a classifier that just answers yes or no to
the question *Is this person a professional basketball player?* And our data consists of information
about 500 basketball players and 500 non-basketball players. 

#### Step 1. Divide the data into 10 bucks.

![](https://raw.githubusercontent.com/zacharski/ml-class/master/labs/pics/buckets.png)
We put 50 basketball players and 50 non-players in each bucket so each bucket contains information on 100 individuals.

#### Step 2. We iterate through the following steps 10 times

1. During each iteration hold back one of the buckets. For iteration 1, we will hold back bucket 1, iteration 2, bucket 2, and so on.
2 We will train the classifier with data from the other buckets. (during the first iteration we will train with the data in buckets 2 through 10)
3. We will test the classifier we just built using data from the bucket we held back and save the results. In our case these results might be: 35 of the basketball players were classified correctly and  29 of the non basketball players were classified correctly. 


#### Step 3. we sum up the results.
Once we finish the ten iterations we sum the results. Perhaps we find that 937 of the 1,000 individuals were categorized correctly. 

#### Summary
Using cross-validation, every instance in our data is used in training and, in a different iteration, in testing. This results in a less biased model. By **bias** we mean that the algorithm is less accurate due to it not taking into account all relevant information in the data. With cross-validation we typically train on a larger percentage of the data than we would if we set aside a fixed validation set. One small disadvantage is that it now take 10 times as long to run.


### Leave One Out

![](https://raw.githubusercontent.com/zacharski/ml-class/master/labs/pics/nfold.png)

In the machine learning literature, n-fold cross validation (where n is the number of samples
in our data set) is called leave-one-out. We already mentioned one benefit of leave-one-out
at every iteration we are using the largest possible amount of our data for training. The other
benefit is that it is deterministic.

#### What do we mean by deterministic?

Suppose Lucy spends an intense 80 hour week creating and coding a new classifier. It is
Friday and she is exhausted so she asks two of her colleagues (Emily and Li) to evaluate the
classifier over the weekend. She gives each of them the classifier and the same dataset and
asks them to use 10-fold cross validation. On Monday she asks for the results ..

![](https://raw.githubusercontent.com/zacharski/ml-class/master/labs/pics/nfoldwomen2.png)

Hmm. They did not get the same results. Did Emily or Li make a mistake? Not necessarily. In
10-fold cross validation we place the data randomly into 10 buckets. Since there is this
random element, it is likely that Emily and Li did not divide the data into buckets in exactly
the same way. In fact, it is highly unlikely that they did. So when they train the classifier, they
are not using exactly the same data and when they test this classifier they are using different
test sets. So it is quite logical that they would get different results. This result has nothing to
do with the fact that two different people were performing the evaluation. If Lucy herself ran
10-fold cross validation twice, she too would get slightly different results. The reason we get
different results is that there is a random component to placing the data into buckets. So 10-
fold cross validation is called non-deterministic because when we run the test again we are
not guaranteed to get the same result. In contrast, the leave-one-out method is deterministic.
Every time we use leave-one-out on the same classifier and the same data we will get the
same result. That is a good thing!

#### The disadvantages of leave-one-out
The main disadvantage of leave-one-out is the computational expense of the method.
Consider a modest-sized dataset of 1,000 instances and that it takes one minute to train a
classifier. For 10-fold cross validation we will spend 10 minutes in training. In leave-one-out
we will spend 16 hours in training. If our dataset contains a million entries the total time
spent in training would nearly be two years. Eeeks!

![](https://raw.githubusercontent.com/zacharski/ml-class/master/labs/pics/twoyears.png)


The other disadvantage of leave-one-out is related to stratification.



#### Stratification.
Let us return to an example from the previous chapterbuilding a classifier that predicts
what sport a woman plays (basketball, gymnastics, or track). When training the classifier we
want the training data to be representative and contain data from all three classes. Suppose
we assign data to the training set in a completely random way. It is possible that no
basketball players would be included in the training set and because of this, the resulting
classifier would not be very good at classifying basketball players. Or consider creating a data
set of 100 athletes. First we go to the Womens NBA website and write down the info on 33
basketball players; next we go to Wikipedia and get 33 women who competed in gymnastics
at the 2012 Olympics and write that down; finally, we go again to Wikipedia to get
information on women who competed in track at the Olympics and record data for 34 people.
So our dataset looks like this:

![](https://raw.githubusercontent.com/zacharski/ml-class/master/labs/pics/womensports.png)

Lets say we are doing 10-fold cross validation. We start at the beginning of the list and put
every ten people in a different bucket. In this case we have 10 basketball players in both the
first and second buckets. The third bucket has both basketball players and gymnasts. The
fourth and fifth buckets solely contain gymnasts and so on. None of our buckets are
representative of the dataset as a whole and you would be correct in thinking this would skew
our results. The preferred method of assigning instances to buckets is to make sure that the
classes (basketball players, gymnasts, marathoners) are representing in the same proportions
as they are in the complete dataset. Since one-third of the complete dataset consists of
basketball players, one-third of the entries in each bucket should also be basketball players.
And one-third the entries should be gymnasts and one-third marathoners. This is called
stratification and this is a good thing. The problem with the leave-one-out evaluation
method is that necessarily all the test sets are non-stratified since they contain only one
instance. In sum, while leave-one-out may be appropriate for very small datasets, 10-fold
cross validation is by far the most popular choice.

### Coding
Let's see how we can use cross validation using the Iris dataset.

<img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/IMG_7911-Iris_virginica.jpg" width="250" />

First, let's load the dataset:

In [36]:
iris = pd.read_csv('https://raw.githubusercontent.com/zacharski/ml-class/master/data/iris.csv')
iris

     Sepal Length  Sepal Width  Petal Length  Petal Width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

Now let's divide this into a training set and a test set using an 80-20 split.

In [37]:
from sklearn.model_selection import train_test_split
iris_train, iris_test = train_test_split(iris, test_size = 0.2)
iris_train

     Sepal Length  Sepal Width  Petal Length  Petal Width            Class
108           6.7          2.5           5.8          1.8   Iris-virginica
121           5.6          2.8           4.9          2.0   Iris-virginica
9             4.9          3.1           1.5          0.1      Iris-setosa
75            6.6          3.0           4.4          1.4  Iris-versicolor
96            5.7          2.9           4.2          1.3  Iris-versicolor
..            ...          ...           ...          ...              ...
7             5.0          3.4           1.5          0.2      Iris-setosa
59            5.2          2.7           3.9          1.4  Iris-versicolor
24            4.8          3.4           1.9          0.2      Iris-setosa
18            5.7          3.8           1.7          0.3      Iris-setosa
101           5.8          2.7           5.1          1.9   Iris-virginica

[120 rows x 5 columns]

#### 10 fold cross validation on iris_train
First, to make things as clear as possible, we will split the iris_train dataset into the features and the labels:

In [40]:
iris_train_features = iris_train[['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width']]
iris_train_labels = iris_train[['Class']]

Let's also create an instance of a decision tree classifier

In [41]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(criterion='entropy')

### The cross validation steps

#### Step 1. Import  cross_val_score

In [39]:
from sklearn.model_selection import cross_val_score

#### Step 2. run cross validation

In [42]:
scores = cross_val_score(clf, iris_train_features, iris_train_labels, cv=10)

`cv=10` specified that we perform 10-fold cross validation. the function returns a 10 element array, where each element is the accuracy of that fold. Let's take a look:

In [47]:
print(scores)
print("The average accuracy is %5.3f" % (scores.mean()))

[0.91666667 0.83333333 0.83333333 0.91666667 0.91666667 1.
 1.         0.91666667 1.         1.        ]
The average accuracy is 0.933